.noDataTitle {
  text-align: center;
}

.countryInfoControlsWrapper {
  padding-block: 3.5em;
}

.goBackBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: var(--fs-md);
  color: var(--clr-text);
  line-height: 0;
  background: var(--clr-ui);
  padding: 0.6em 2em;
  border-radius: var(--radius);
  border: none;
  outline: none;
  box-shadow: var(--shadow);
  transition: transform var(--transition-duration);
  cursor: pointer;
}

.countryInfoWrapper {
  display: grid;
  grid-template-columns: minmax(550px, 1fr) minmax(500px, 1fr);
  gap: 6em;
  justify-content: center;
}

.flagWrapper {
  box-shadow: var(--shadow);
}

.flagImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}

.infoWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  column-gap: 4em;
  row-gap: 0.8em;
}

.countryName {
  font-size: var(--fs-xxxl);
}

.borderCountriesNamesWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6em;
  padding: 4em 0 2em;
}

.borderCountriesTitle {
  font-size: var(--fs-md);
  font-weight: var(--fw-normal);
  white-space: nowrap;
  margin: 0;
}

.borderCountriesLinksWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

.borderCountryLink {
  color: var(--clr-text);
  line-height: 0;
  background: var(--clr-ui);
  padding: 1em 1.5em;
  border-radius: var(--radius-sm);
  text-decoration: none;
  box-shadow: var(--shadow);
  transition: transform var(--transition-duration);
}

@media (hover: hover) and (pointer: fine) {
  .goBackBtn:hover,
  .goBackBtn:focus-within {
    transform: translateX(-0.2em);
  }

  .borderCountryLink:hover,
  .borderCountryLink:focus-within {
    transform: translate(0.2em, -0.2em);
  }
}

/* adaptive */
@media (max-width: 1200px) {
  .countryInfoWrapper {
    grid-template-columns: minmax(auto, 700px);
    gap: 4em;
  }
}

@media (max-width: 768px), (max-height: 500px) {
  .flagWrapper {
    justify-self: center;
    max-width: 500px;
  }
}

@media (max-width: 592px) {
  .infoWrapper,
  .borderCountriesNamesWrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 592px), (max-height: 500px) {
  .countryInfoControlsWrapper {
    padding-block: 2em;
  }

  .countryInfoWrapper {
    gap: 1em;
  }

  .borderCountriesNamesWrapper {
    gap: 1.5em;
    padding: 2.2em 0 1em;
  }

  .borderCountriesTitle {
    font-size: var(--fs-lg);
  }
}