.cardContainer {
  background: var(--clr-ui);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform var(--transition-duration);
}

.flag {
  width: 100%;
  height: 160px;
  box-shadow: var(--shadow-sm);
}

.countryName {
  padding-bottom: 1em;
  margin: 0;
}

.countryInfoWrapper {
  padding: 2em 1em;
}

.countryInfoTitle {
  font-weight: var(--fw-normal);
  line-height: 1.4;
  margin: 0;
}

.countryInfoValue {
  font-weight: var(--fw-light);
}

@media (hover: hover) and (pointer: fine) {
  .cardContainer:hover,
  .cardContainer:focus-within {
    transform: translate(0.5em, -0.5em);
  }
}
