.cardContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background: var(--clr-ui);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform var(--transition-duration);
}

.flagWrapper {
  width: 100%;
  height: 170px;
  box-shadow: var(--shadow-sm);
  overflow: hidden;
}

.flagImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.countryName {
  padding-bottom: 1em;
  margin: 0;
}

.countryInfoWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 2em 1em;
}

@media (hover: hover) and (pointer: fine) {
  .cardContainer:hover,
  .cardContainer:focus-within {
    transform: translate(0.5em, -0.5em);
  }
}
