.themeSwitcherWrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.themeSwitcherIconWrapper {
  line-height: 0;
}

.themeType {
  font-weight: var(--fw-normal);
  line-height: 0;
}

@media (max-width: 400px) {
  .themeSwitcherWrapper,
  .themeType {
    font-size: var(--fs-sm);
  }
}