/* common styles */
.App[data-theme-type='light'] {
  --clr-text: var(--clr-txt-light);
  --clr-bg: var(--clr-bg-light);
  --clr-ui: var(--clr-ui-light);
  --clr-placeholder: var(--clr-placeholder-light);
}

.App[data-theme-type='dark'] {
  --clr-text: var(--clr-txt-dark);
  --clr-bg: var(--clr-bg-dark);
  --clr-ui: var(--clr-ui-dark);
  --clr-placeholder: var(--clr-placeholder-dark);
}

.App {
  min-height: 100vh;
  height: 100%;
  font-family: var(--family);
  font-size: var(--fs-md);
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

/* header styles */
.header {
  background: var( --clr-ui);
  padding: 1.5em 1em;
  box-shadow: var(--shadow);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.headerTitle {
  font-size: var(--fs-xl);
  margin: 0;
}

/* main styles */
.main {
  padding: 1.5em 1em;
}

.mainContainer {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* adaptive */
@media (max-width: 500px) {
  .headerTitle {
    font-size: var(--fs-lg);
  }
}

@media (max-width: 400px) {
  .headerTitle {
    font-size: var(--fs-md);
  }
}